:root {
  --text: hsl(0, 0%, 95%);
  --background: hsl(0, 0%, 10%);
  --primary: hsl(348, 97%, 63%);
  --secondary: hsl(0, 0%, 15%);
  --accent: hsl(230, 96%, 62%);
}

/* helpers */

.card {
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 1rem;
}

.diagonal {
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  background: linear-gradient(45deg, var(--primary), var(--accent));
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(-5deg);
}

/* /helpers */

body {
  background: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

main > section {
  padding-block: 10rem;
}

main > *:first-child {
  margin-top: 5rem;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about-me > .img-wrapper {
  position: relative;
}

.about-me > .img-wrapper > img {
  max-width: 400px;
  border-radius: 1rem;
}

.about-me > .img-wrapper > h1 {
  color: var(--secondary);
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

.about-me > .card {
  border-radius: 0 1rem 1rem 0;
  max-width: 80ch;
}
